<a href="https://colab.research.google.com/github/NSteckel/Data-in-Python/blob/main/PandasTest2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

import pandas as pd
import io

Mounted at /content/drive/

In [ ]:
from pandas.core.api import DataFrame
file_path = '/content/drive/MyDrive/imdb_top_1000.csv'

df = pd.read_csv(file_path)

In [ ]:
df.head(5)

In [ ]:
df.drop(['Runtime', 'Poster_Link', 'Certificate', 'Overview'], axis = 1, inplace=True)

In [ ]:
df.dropna(inplace = True)

In [ ]:
df.head(7)

,Series_Title,Released_Year,Genre,IMDB_Rating,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,The Shawshank Redemption,1994,Drama,9.3,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,The Godfather,1972,"Crime, Drama",9.2,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,The Dark Knight,2008,"Action, Crime, Drama",9.0,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,The Godfather: Part II,1974,"Crime, Drama",9.0,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,12 Angry Men,1957,"Crime, Drama",9.0,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
5,The Lord of the Rings: The Return of the King,2003,"Action, Adventure, Drama",8.9,94.0,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1642758,"377,845,905"
6,Pulp Fiction,1994,"Crime, Drama",8.9,94.0,Quentin Tarantino,John Travolta,Uma Thurman,Samuel L. Jackson,Bruce Willis,1826188,"107,928,762"

In [ ]:
df.drop(['No_of_Votes', 'Meta_score'], axis = 1, inplace = True)

In [ ]:
df.head(7)

,Series_Title,Released_Year,Genre,IMDB_Rating,Director,Star1,Star2,Star3,Star4,Gross
0,The Shawshank Redemption,1994,Drama,9.3,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,"28,341,469"
1,The Godfather,1972,"Crime, Drama",9.2,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,"134,966,411"
2,The Dark Knight,2008,"Action, Crime, Drama",9.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,"534,858,444"
3,The Godfather: Part II,1974,"Crime, Drama",9.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,"57,300,000"
4,12 Angry Men,1957,"Crime, Drama",9.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,"4,360,000"
5,The Lord of the Rings: The Return of the King,2003,"Action, Adventure, Drama",8.9,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,"377,845,905"
6,Pulp Fiction,1994,"Crime, Drama",8.9,Quentin Tarantino,John Travolta,Uma Thurman,Samuel L. Jackson,Bruce Willis,"107,928,762"

In [ ]:
df.sort_values(['Released_Year']) # Sort oldest -> newest

In [ ]:
df.sort_values(['Released_Year'], ascending = False) # Sort newest -> oldest

,Series_Title,Released_Year,Genre,IMDB_Rating,Director,Star1,Star2,Star3,Star4,Gross
33,Joker,2019,"Crime, Drama, Thriller",8.5,Todd Phillips,Joaquin Phoenix,Robert De Niro,Zazie Beetz,Frances Conroy,"335,451,311"
884,The Peanut Butter Falcon,2019,"Adventure, Comedy, Drama",7.6,Tyler Nilson,Michael Schwartz,Zack Gottsagen,Ann Owens,Dakota Johnson,"13,122,642"
879,Once Upon a Time... in Hollywood,2019,"Comedy, Drama",7.6,Quentin Tarantino,Leonardo DiCaprio,Brad Pitt,Margot Robbie,Emile Hirsch,"142,502,728"
19,Gisaengchung,2019,"Comedy, Drama, Thriller",8.6,Bong Joon Ho,Kang-ho Song,Lee Sun-kyun,Cho Yeo-jeong,Choi Woo-sik,"53,367,844"
217,Ford v Ferrari,2019,"Action, Biography, Drama",8.1,James Mangold,Matt Damon,Christian Bale,Jon Bernthal,Caitriona Balfe,"117,624,028"
...,...,...,...,...,...,...,...,...,...,...
566,King Kong,1933,"Adventure, Horror, Sci-Fi",7.9,Merian C. Cooper,Ernest B. Schoedsack,Fay Wray,Robert Armstrong,Bruce Cabot,"10,000,000"
52,City Lights,1931,"Comedy, Drama, Romance",8.5,Charles Chaplin,Charles Chaplin,Virginia Cherrill,Florence Lee,Harry Myers,"19,181"
461,All Quiet on the Western Front,1930,"Drama, War",8.0,Lewis Milestone,Lew Ayres,Louis Wolheim,John Wray,Arnold Lucy,"3,270,000"
126,Metropolis,1927,"Drama, Sci-Fi",8.3,Fritz Lang,Brigitte Helm,Alfred Abel,Gustav Fröhlich,Rudolf Klein-Rogge,"1,236,166"
462,Bronenosets Potemkin,1925,"Drama, History, Thriller",8.0,Sergei M. Eisenstein,Aleksandr Antonov,Vladimir Barskiy,Grigoriy Aleksandrov,Ivan Bobrov,"50,970"

In [ ]:
df.sort_values(['IMDB_Rating'])

,Series_Title,Released_Year,Genre,IMDB_Rating,Director,Star1,Star2,Star3,Star4,Gross
997,From Here to Eternity,1953,"Drama, Romance, War",7.6,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,"30,500,000"
910,Moneyball,2011,"Biography, Drama, Sport",7.6,Bennett Miller,Brad Pitt,Robin Wright,Jonah Hill,Philip Seymour Hoffman,"75,605,492"
911,La piel que habito,2011,"Drama, Horror, Thriller",7.6,Pedro Almodóvar,Antonio Banderas,Elena Anaya,Jan Cornet,Marisa Paredes,"3,185,812"
912,Zombieland,2009,"Adventure, Comedy, Fantasy",7.6,Ruben Fleischer,Jesse Eisenberg,Emma Stone,Woody Harrelson,Abigail Breslin,"75,590,286"
914,Sherlock Holmes,2009,"Action, Adventure, Mystery",7.6,Guy Ritchie,Robert Downey Jr.,Jude Law,Rachel McAdams,Mark Strong,"209,028,679"
...,...,...,...,...,...,...,...,...,...,...
4,12 Angry Men,1957,"Crime, Drama",9.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,"4,360,000"
3,The Godfather: Part II,1974,"Crime, Drama",9.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,"57,300,000"
2,The Dark Knight,2008,"Action, Crime, Drama",9.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,"534,858,444"
1,The Godfather,1972,"Crime, Drama",9.2,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,"134,966,411"
0,The Shawshank Redemption,1994,Drama,9.3,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,"28,341,469"

In [ ]:
df_rate = df.sort_values(['IMDB_Rating'], ascending = False)
df_rate.head(10)

,Series_Title,Released_Year,Genre,IMDB_Rating,Director,Star1,Star2,Star3,Star4,Gross
0,The Shawshank Redemption,1994,Drama,9.3,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,"28,341,469"
1,The Godfather,1972,"Crime, Drama",9.2,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,"134,966,411"
2,The Dark Knight,2008,"Action, Crime, Drama",9.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,"534,858,444"
3,The Godfather: Part II,1974,"Crime, Drama",9.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,"57,300,000"
4,12 Angry Men,1957,"Crime, Drama",9.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,"4,360,000"
5,The Lord of the Rings: The Return of the King,2003,"Action, Adventure, Drama",8.9,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,"377,845,905"
6,Pulp Fiction,1994,"Crime, Drama",8.9,Quentin Tarantino,John Travolta,Uma Thurman,Samuel L. Jackson,Bruce Willis,"107,928,762"
7,Schindler's List,1993,"Biography, Drama, History",8.9,Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall,"96,898,818"
10,The Lord of the Rings: The Fellowship of the Ring,2001,"Action, Adventure, Drama",8.8,Peter Jackson,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,"315,544,750"
12,"Il buono, il brutto, il cattivo",1966,Western,8.8,Sergio Leone,Clint Eastwood,Eli Wallach,Lee Van Cleef,Aldo Giuffrè,"6,100,000"

In [ ]:
df.agg({'Gross':['sum']})

                                                 Gross
sum  28,341,469134,966,411534,858,44457,300,0004,36...

In [ ]:
df.to_parquet('TestPack.parquet')

In [ ]:
DirectNum = df.groupby(['Director']).size()
DirectNum.head(5)
#BigDirect = DirectNum.sort_values(ascending=False)
#BigDirect.head(1)

Director
Abdellatif Kechiche    1
Abhishek Kapoor        1
Adam McKay             1
Akira Kurosawa         3
Alan J. Pakula         1
dtype: int64

In [ ]:
df['Director'].value_counts().head(1)

Steven Spielberg    13
Name: Director, dtype: int64

In [ ]:
splitters = df.assign(Genre = df.Genre.str.split(", "))

In [ ]:
boomers = splitters.explode("Genre")

In [ ]:
boomers.head(5)

,Series_Title,Released_Year,Genre,IMDB_Rating,Director,Star1,Star2,Star3,Star4,Gross
0,The Shawshank Redemption,1994,Drama,9.3,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,"28,341,469"
1,The Godfather,1972,Crime,9.2,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,"134,966,411"
1,The Godfather,1972,Drama,9.2,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,"134,966,411"
2,The Dark Knight,2008,Action,9.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,"534,858,444"
2,The Dark Knight,2008,Crime,9.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,"534,858,444"

In [ ]:
boomers.sort_values('IMDB_Rating', ascending = False).groupby("Genre").first()

In [ ]:
boomers.sort_values('Gross', ascending = False).groupby("Genre").first()

,Series_Title,Released_Year,IMDB_Rating,Director,Star1,Star2,Star3,Star4,Gross
Genre,,,,,,,,,
Action,Star Wars: Episode VII - The Force Awakens,2015,7.9,J.J. Abrams,Daisy Ridley,John Boyega,Oscar Isaac,Domhnall Gleeson,"936,662,225"
Adventure,Star Wars: Episode VII - The Force Awakens,2015,7.9,J.J. Abrams,Daisy Ridley,John Boyega,Oscar Isaac,Domhnall Gleeson,"936,662,225"
Animation,Papurika,2006,7.7,Satoshi Kon,Megumi Hayashibara,Tôru Emori,Katsunosuke Hori,Tôru Furuya,"881,302"
Biography,The Social Network,2010,7.7,David Fincher,Jesse Eisenberg,Andrew Garfield,Justin Timberlake,Rooney Mara,"96,962,694"
Comedy,The Long Goodbye,1973,7.6,Robert Altman,Elliott Gould,Nina van Pallandt,Sterling Hayden,Mark Rydell,"959,000"
Crime,Rashômon,1950,8.2,Akira Kurosawa,Toshirô Mifune,Machiko Kyô,Masayuki Mori,Takashi Shimura,"96,568"
Drama,The Color Purple,1985,7.8,Steven Spielberg,Danny Glover,Whoopi Goldberg,Oprah Winfrey,Margaret Avery,"98,467,863"
Family,Bacheha-Ye aseman,1997,8.3,Majid Majidi,Mohammad Amir Naji,Amir Farrokh Hashemian,Bahare Seddiqi,Nafise Jafar-Mohammadi,"933,933"
Fantasy,Papurika,2006,7.7,Satoshi Kon,Megumi Hayashibara,Tôru Emori,Katsunosuke Hori,Tôru Furuya,"881,302"
Film-Noir,Strangers on a Train,1951,7.9,Alfred Hitchcock,Farley Granger,Robert Walker,Ruth Roman,Leo G. Carroll,"7,630,000"
History,Schindler's List,1993,8.9,Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall,"96,898,818"
Horror,The Others,2001,7.6,Alejandro Amenábar,Nicole Kidman,Christopher Eccleston,Fionnula Flanagan,Alakina Mann,"96,522,687"
Music,Once,2007,7.8,John Carney,Glen Hansard,Markéta Irglová,Hugh Walsh,Gerard Hendrick,"9,439,923"
Musical,Fiddler on the Roof,1971,8.0,Norman Jewison,Topol,Norma Crane,Leonard Frey,Molly Picon,"80,500,000"
Mystery,Rashômon,1950,8.2,Akira Kurosawa,Toshirô Mifune,Machiko Kyô,Masayuki Mori,Takashi Shimura,"96,568"
Romance,When Harry Met Sally...,1989,7.6,Rob Reiner,Billy Crystal,Meg Ryan,Carrie Fisher,Bruno Kirby,"92,823,600"
Sci-Fi,Star Wars: Episode VII - The Force Awakens,2015,7.9,J.J. Abrams,Daisy Ridley,John Boyega,Oscar Isaac,Domhnall Gleeson,"936,662,225"
Sport,Bacheha-Ye aseman,1997,8.3,Majid Majidi,Mohammad Amir Naji,Amir Farrokh Hashemian,Bahare Seddiqi,Nafise Jafar-Mohammadi,"933,933"
Thriller,The Others,2001,7.6,Alejandro Amenábar,Nicole Kidman,Christopher Eccleston,Fionnula Flanagan,Alakina Mann,"96,522,687"
War,The Boy in the Striped Pyjamas,2008,7.8,Mark Herman,Asa Butterfield,David Thewlis,Rupert Friend,Zac Mattoon O'Brien,"9,030,581"
Western,High Noon,1952,7.9,Fred Zinnemann,Gary Cooper,Grace Kelly,Thomas Mitchell,Lloyd Bridges,"9,450,000"

In [ ]:
min_money = df.sort_values('Gross', ascending = False).groupby("Director").first()

In [ ]:
min_money_sort = min_money.sort_values(['Gross'])
min_money_sort.head(10)

,Series_Title,Released_Year,Genre,IMDB_Rating,Star1,Star2,Star3,Star4,Gross
Director,,,,,,,,,
Shin'ichirô Watanabe,Cowboy Bebop: Tengoku no tobira,2001,"Animation, Action, Crime",7.9,Tensai Okamura,Hiroyuki Okiura,Yoshiyuki Takei,Beau Billingslea,"1,000,045"
Destin Daniel Cretton,Short Term 12,2013,Drama,8.0,Brie Larson,Frantz Turner,John Gallagher Jr.,Kaitlyn Dever,"1,010,414"
Christian Carion,Joyeux Noël,2005,"Drama, History, Music",7.7,Diane Kruger,Benno Fürmann,Guillaume Canet,Natalie Dessay,"1,054,361"
Danis Tanovic,No Man's Land,2001,"Comedy, Drama, War",7.9,Branko Djuric,Rene Bitorajac,Filip Sovagovic,Georges Siatidis,"1,059,830"
Brad Anderson,The Machinist,2004,"Drama, Thriller",7.7,Christian Bale,Jennifer Jason Leigh,Aitana Sánchez-Gijón,John Sharian,"1,082,715"
Je-kyu Kang,Taegukgi hwinalrimyeo,2004,"Action, Drama, War",8.1,Jang Dong-Gun,Won Bin,Eun-ju Lee,Hyeong-jin Kong,"1,111,061"
Shimit Amin,Chak De! India,2007,"Drama, Family, Sport",8.2,Shah Rukh Khan,Vidya Malvade,Sagarika Ghatge,Shilpa Shukla,"1,113,541"
Abhishek Kapoor,Kai po che!,2013,"Drama, Sport",7.7,Amit Sadh,Sushant Singh Rajput,Rajkummar Rao,Amrita Puri,"1,122,527"
Cristian Mungiu,"4 luni, 3 saptamâni si 2 zile",2007,Drama,7.9,Anamaria Marinca,Laura Vasiliu,Vlad Ivanov,Alexandru Potocean,"1,185,783"
Fabián Bielinsky,Nueve reinas,2000,"Crime, Drama, Thriller",7.9,Ricardo Darín,Gastón Pauls,Graciela Tenenbaum,María Mercedes Villagra,"1,221,261"